/* Navbar.css */

.navbar {
  background: linear-gradient(to right, #85c9f7, #1e6273); /* Gradient background */
  color: #EEEEEE;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #EEEEEE;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.navbar ul li a:hover {
  color: #201E43; /* Hover color */
}
